* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 50%;
    margin: 0;
    display: flex;
    height: 600px;
    align-items: flex-end;
    justify-content: space-evenly;

}

div {
    width: 10%;
    background-color: antiquewhite;
}

#div1 {
    height: 50%;
}

#div2 {
    height: 20%;
}

#div3 {
    height: 70%;
}

#div4 {
    height: 30%;
}

#div5 {
    height: 85%;
}
