body {
    background-image: url(bg.png);
    height: 3000px;
}

div {
    display: inline-block;
}

#div1 {
    background-color: blue;
    width: 400px;
    height: 400px;

    position: static;
    left: 300px;
    top: 200px;
}

#div2 {
    background-color: yellow;
    width: 300px;
    height: 300px;
    position: static;
    right: 50px;
    bottom: 50px;
}

#div3 {
    background-color: green;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 50px;
    bottom: 50px;
}